- hosts: k8snode
  become: yes
  tasks:
    - name: Delete deployment
      command: kubectl delete -f /home/control-plane-node/k8s-manifest/task-manager/deployment.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config
      ignore_errors: yes

    - name: Apply deployment
      command: kubectl apply -f /home/control-plane-node/k8s-manifest/task-manager/deployment.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config

    - name: Apply service
      command: kubectl apply -f /home/control-plane-node/k8s-manifest/task-manager/service.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config

